@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

html{
    font-size: 63%;
}
body{
    
    padding-left:5rem
    
}

/**********************************Side Bar Start***************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    padding: 5rem 2rem;
    z-index: 100;
    width: 25rem;
    text-align: center;
    
    transition: 0.5s ease-in-out;

}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 5rem ;
    font-weight: bolder;
    text-decoration: none ;
}

header .logo span{
    color:#00ccff ;
    text-transform: uppercase;
}


header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 3rem 0;
    text-decoration: none;
    transition: 0.5s;
    padding: 0.5rem 1.1rem;
    
}




header .navbar a:hover{
    /*letter-spacing: .2rem;*/
    transform: scale(1.1);
    color: #00ccff;
    

}
#blogA{
    border-right: solid 2.5px #00ccff;
}




header .sci a{
    font-size: 2.5rem;
    color: white;
    margin: 0.7rem;
}

header .sci a:hover{
    color: #00ccff;
    transition: 0.5s ease-in-out ;

}







#menu-bars{
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 4rem;
    display: none;
    z-index: 100000;
    cursor: pointer;
    
}

h1{
    font-size: 1.7rem;
    text-align: center;
    color: black;
}

span{
    color: #00ccff;
}


.progress-bar-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#progress-bar{
    width: 30%;
    margin-top: 0.5%;
    height: 2%;

}

label{
    color: white;
    font-size: 2rem;
}